.DS_Store
*.avi
.idea/
bin/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/
cmake-build-debug/
olympus/
Proj03Examples/
proj5/Pipfile.lock
proj5/Pipfile
proj5/data/
proj5/data2/
proj5/results/
proj5/model_weights.pth
proj5/model.pth
proj5/__pycache__/
